interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-demo.airwallex.com/api/v1/authentication/login
  response:
    body:
      string: '{"expires_at": "2026-08-04T14:26:22+0000", "token": "eyJ***"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/account?page_size=100
  response:
    body:
      string: '{"account_details": {"attachments": {"additional_files": []}, "business_details":
        {"account_usage": {"estimated_monthly_revenue": {"amount": "-Fallback-scrubbed-JijUmn",
        "currency": "-Fallback-scrubbed-MpH"}, "product_reference": []}, "as_trustee":
        null, "attachments": {"business_documents": []}, "business_address": {"country_code":
        "-Fallback-scrubbed-bq", "postcode": "66230"}, "business_identifiers": [{"country_code":
        "-Fallback-scrubbed-bq", "number": "-Fallback-scrubbed-DKPopnHZB", "type":
        "-Fallback-scrubbed-ReH"}], "business_name": "-Fallback-scrubbed-AyaQobEzpAXPELNM",
        "business_name_english": "-Fallback-scrubbed-AyaQobEzpAXPELNM", "business_name_trading":
        null, "business_start_date": "-Fallback-scrubbed-FJfwexEIep", "business_structure":
        "-Fallback-scrubbed-QDvqERz", "contact_number": null, "description_of_goods_or_services":
        "-Fallback-scrubbed-TJZPSzEQLplXYTjRtxhUPUaqDMHUhzLJ", "explanation_for_high_risk_countries_exposure":
        null, "exports_goods_or_services": null, "fax_number": null, "has_constitution_document":
        null, "has_member_holding_public_office": null, "has_nominee_shareholders":
        null, "has_prior_financial_institution_refusal": null, "has_ringgit_borrowing":
        null, "industry_category_code": "-Fallback-scrubbed-vQCabCdTIjts", "no_shareholders_with_over_25percent":
        null, "operating_country": [], "registration_address": {"country_code": "-Fallback-scrubbed-bq",
        "postcode": "66230"}, "registration_address_english": {"address_line1": "6054
        Gonzalez Wall Suite 965", "country_code": "-Fallback-scrubbed-bq", "postcode":
        "66230", "state": "-Fallback-scrubbed-ZG", "suburb": "-Fallback-scrubbed-zIzCYbqZuPg"},
        "state_of_incorporation": null, "url": "-Fallback-scrubbed-WBNFeehxCLGlRHCNjzzJiOaF",
        "urls": ["-Fallback-scrubbed-WBNFeehxCLGlRHCNjzzJiOaF"]}, "business_person_details":
        [{"attachments": {"business_person_documents": []}, "date_of_birth": "2008-01-20",
        "email": "allison89@example.com", "first_name_english": "-Fallback-scrubbed-Iuntx",
        "identifications": {"primary": {"identification_type": "-Fallback-scrubbed-fpxGhr",
        "issuing_country_code": "-Fallback-scrubbed-bq", "tax_id": {"number": "-Fallback-scrubbed-DKPopnHZB",
        "type": "-Fallback-scrubbed-Wksf"}}}, "job_title": "-Fallback-scrubbed-tZQ",
        "last_name_english": "-Fallback-scrubbed-nARauP", "nationality": "-Fallback-scrubbed-bq",
        "person_id": "-Fallback-scrubbed-mkojCCmryXNgKlNIVSszmIYGLXzOSmeyKyGq", "phone_number":
        "(949)387-8857x04347", "residential_address": {"country_code": "-Fallback-scrubbed-bq",
        "postcode": "66230"}, "roles": ["-Fallback-scrubbed-AYsRIedlGQivPfsm", "-Fallback-scrubbed-CUBpdbbOxPHleyXEjH",
        "-Fallback-scrubbed-vPwKWlvpdHgrExVUB"]}], "store_details": {"cross_border_transaction_percent":
        "-Fallback-scrubbed-ymdQ", "employee_size": 3072, "estimated_transaction_volume":
        {"average_amount_per_transaction": "-Fallback-scrubbed-bjkcALB", "currency":
        "-Fallback-scrubbed-Opi", "max_amount_per_transaction": "-Fallback-scrubbed-bjkcALB",
        "monthly_transaction_amount": "-Fallback-scrubbed-LMsxbfgO"}, "financial_statements":
        [], "fulfillment_days": 8088, "industry_code": "-Fallback-scrubbed-FpDEsSOmvtZy",
        "mcc": "-Fallback-scrubbed-urDk", "operating_models": ["-Fallback-scrubbed-KrlkDPOzgQEiaWy",
        "-Fallback-scrubbed-DkHNKHXIFUOEDXoNAvxVstHUVIKrnm"], "payment_distribution":
        [{"payment_type": "-Fallback-scrubbed-WiNQN", "percentage": "-Fallback-scrubbed-zLaX"},
        {"payment_type": "-Fallback-scrubbed-afyIl", "percentage": "-Fallback-scrubbed-zLaX"}],
        "selling_to_country_codes": [], "shipping_from_country_codes": [], "store_description":
        "-Fallback-scrubbed-uxPUjOXWPLJnYDnIwi", "store_name": "-Fallback-scrubbed-AyaQobEzpAXPELNM",
        "store_photos": [], "store_websites": [{"url": "-Fallback-scrubbed-BxwnZnWlQrEbEMmaMaCNkugpAHqvoycXQzlFcCHEJwfEygVcNjFejMW"}]},
        "trustee_details": null, "individual_details": null, "legal_entity_id": "-Fallback-scrubbed-ZsOIIkBpJEagCFkJCzDEtSScO",
        "legal_entity_identifier": null, "legal_entity_type": "-Fallback-scrubbed-UKqzhycS"},
        "created_at": "-Fallback-scrubbed-qRrlpshqzZZxdXgMTQdphiIa", "customer_agreements":
        {"agreed_to_data_usage": false, "agreed_to_terms_and_conditions": false, "opt_in_for_marketing":
        true, "terms_and_conditions": {"device_data": {}, "service_agreement_type":
        "-Fallback-scrubbed-Koiu"}}, "id": "-Fallback-scrubbed-ZuPmmQQpDerLbBPEeXmoSunNEDp",
        "nickname": "-Fallback-scrubbed-ZuPmmQQpDerLbBPEeXmoSunNEDp", "primary_contact":
        {"attachments": {"identity_files": []}, "email": "allison89@example.com",
        "mobile": "(949)387-8857x04347"}, "status": "-Fallback-scrubbed-eWvJFf", "view_type":
        "-Fallback-scrubbed-vKiRRMaV"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 4cb4db9a6d494e2892817dddabe2918a
      x-awx-trace-id:
      - 4cb4db9a6d494e2892817dddabe2918a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/issuing/transactions?page_size=100&from_created_at=2026-01-01T00%3A00%3A00.000000Z&to_created_at=2026-01-31T23%3A59%3A59.999999Z
  response:
    body:
      string: '{"has_more": false, "items": []}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/issuing/transactions?page_size=100&from_created_at=2026-06-01T00%3A00%3A00.000000Z&to_created_at=2026-06-30T23%3A59%3A59.999999Z
  response:
    body:
      string: '{"has_more": false, "items": [{"acquiring_institution_identifier":
        "-Fallback-scrubbed-yheaIkOlGrA", "auth_code": "-Fallback-scrubbed-tawxHA",
        "billing_amount": 8506264.89199514, "billing_currency": "-Fallback-scrubbed-MpH",
        "card_id": "-Fallback-scrubbed-DcaAjIOeBinYoXOdwbUwrHVxHtlXccpCGphN", "card_nickname":
        "-Fallback-scrubbed-EgvSjhMHorNVxKH", "card_transaction_data": {"card_transaction_event_id":
        "-Fallback-scrubbed-xLYFngyhZXqTiuDEQJhxNJPvNcxSyfUhRjWl", "card_transaction_id":
        "-Fallback-scrubbed-WYcpATKWayTwAYNlkPWpnvhbWGaCiQupWiFk", "card_transaction_lifecycle_id":
        "-Fallback-scrubbed-oNqvkJCxjnctQEWsZdUfZetTOxohBDtpoQHF"}, "lifecycle_id":
        "-Fallback-scrubbed-WYcpATKWayTwAYNlkPWpnvhbWGaCiQupWiFk", "masked_card_number":
        "-Fallback-scrubbed-QpobyhnzhpZaYyny", "merchant": {"additional_merchant_info":
        {"merchant_category": "-Fallback-scrubbed-yDqiwfPlZ", "merchant_sub_category":
        "-Fallback-scrubbed-FLPqHyYnTjrOOPkCzC"}, "category_code": "-Fallback-scrubbed-eeVD",
        "city": "Boydfurt", "country": "-Fallback-scrubbed-", "identifier": "-Fallback-scrubbed-hcdUdbiMRnQKORC",
        "name": "Carol Moon"}, "network_transaction_id": "-Fallback-scrubbed-MzQeglUhdFmnGbL",
        "posted_date": "-Fallback-scrubbed-ZeJpYyDAYnIbTJCnbdVLbSxxaNsm", "retrieval_ref":
        "-Fallback-scrubbed-tbMKgEAghhEe", "risk_details": {"risk_actions_performed":
        [], "risk_factors": [], "three_dsecure_outcome": "-Fallback-scrubbed-ZMQJyRWYiohgTa"},
        "status": "-Fallback-scrubbed-GcsqrkaC", "transaction_amount": 8506264.89199514,
        "transaction_currency": "-Fallback-scrubbed-MpH", "transaction_date": "-Fallback-scrubbed-ZeJpYyDAYnIbTJCnbdVLbSxxaNsm",
        "transaction_id": "-Fallback-scrubbed-UxUgIacMWghsKtmDWYMsBmOpIHnxEvwoobIk",
        "transaction_type": "-Fallback-scrubbed-IXDdKsET"}, {"acquiring_institution_identifier":
        "-Fallback-scrubbed-NKzWRWEHUDx", "auth_code": "-Fallback-scrubbed-IFHqaD",
        "billing_amount": 97198180.3287833, "billing_currency": "-Fallback-scrubbed-MpH",
        "card_id": "-Fallback-scrubbed-DcaAjIOeBinYoXOdwbUwrHVxHtlXccpCGphN", "card_nickname":
        "-Fallback-scrubbed-EgvSjhMHorNVxKH", "card_transaction_data": {"card_transaction_event_id":
        "-Fallback-scrubbed-AvqZbViAAgpNIuyTpQyvaCgjAMFMbiel[...]
[...]
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/issuing/transactions?page_size=100&from_created_at=2026-08-01T00%3A00%3A00.000000Z&to_created_at=2026-08-04T13%3A54%3A00.000000Z
  response:
    body:
      string: '{"has_more": false, "items": [{"acquiring_institution_identifier":
        "-Fallback-scrubbed-befwItPrdPK", "auth_code": "-Fallback-scrubbed-xMfaAt",
        "billing_amount": 9091, "billing_currency": "-Fallback-scrubbed-MpH", "card_id":
        "-Fallback-scrubbed-DcaAjIOeBinYoXOdwbUwrHVxHtlXccpCGphN", "card_nickname":
        "-Fallback-scrubbed-EgvSjhMHorNVxKH", "card_transaction_data": {"card_transaction_event_id":
        "-Fallback-scrubbed-WeYGaHeEyUhrFlPPPLeMvmWKMLslnUbeERDw", "card_transaction_id":
        "-Fallback-scrubbed-SbwLXTbadMtCdhjJIPTzqxbjtkWwSQURjQSz", "card_transaction_lifecycle_id":
        "-Fallback-scrubbed-NeWQhcRHKEfUyuDEOKnRwLdPqCpxFQAsNHgv"}, "failure_reason":
        "-Fallback-scrubbed-WshjAdbVzzKceP", "lifecycle_id": "-Fallback-scrubbed-ATTCXrPVRvUauEOrXSRJjtfeibhAeyvQsqAB",
        "masked_card_number": "-Fallback-scrubbed-QpobyhnzhpZaYyny", "merchant": {"additional_merchant_info":
        {"merchant_category": "-Fallback-scrubbed-yDqiwfPlZ", "merchant_sub_category":
        "-Fallback-scrubbed-FLPqHyYnTjrOOPkCzC"}, "category_code": "-Fallback-scrubbed-eeVD",
        "city": "Boydfurt", "country": "-Fallback-scrubbed-", "identifier": "-Fallback-s[...]
