interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-demo.airwallex.com/api/v1/authentication/login
  response:
    body:
      string: '{"expires_at": "2026-08-04T14:26:33+0000", "token": "eyJ***"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/account?page_size=100
  response:
    body:
      string: '{"account_details": {"attachments": {"additional_files": []}, "business_details":
        {"account_usage": {"estimated_monthly_revenue": {"amount": "-Fallback-scrubbed-bxUUPS",
        "currency": "-Fallback-scrubbed-TRk"}, "product_reference": []}, "as_trustee":
        null, "attachments": {"business_documents": []}, "business_address": {"country_code":
        "-Fallback-scrubbed-Ek", "postcode": "18723"}, "business_identifiers": [{"country_code":
        "-Fallback-scrubbed-Ek", "number": "-Fallback-scrubbed-VxYXfuzbc", "type":
        "-Fallback-scrubbed-OkS"}], "business_name": "-Fallback-scrubbed-hCgFMUcCnAyBzrFs",
        "business_name_english": "-Fallback-scrubbed-hCgFMUcCnAyBzrFs", "business_name_trading":
        null, "business_start_date": "-Fallback-scrubbed-JreTLRHgis", "business_structure":
        "-Fallback-scrubbed-ouCozrU", "contact_number": null, "description_of_goods_or_services":
        "-Fallback-scrubbed-PrHLBVvXTDKvrmqaNSKiLtqmyNBehgrU", "explanation_for_high_risk_countries_exposure":
        null, "exports_goods_or_services": null, "fax_number": null, "has_constitution_document":
        null, "has_member_holding_public_office": null, "has_nominee_shareholders":
        null, "has_prior_financial_institution_refusal": null, "has_ringgit_borrowing":
        null, "industry_category_code": "-Fallback-scrubbed-CeCPaAowcaKw", "no_shareholders_with_over_25percent":
        null, "operating_country": [], "registration_address": {"country_code": "-Fallback-scrubbed-Ek",
        "postcode": "18723"}, "registration_address_english": {"address_line1": "674
        Krueger Haven Apt. 795", "country_code": "-Fallback-scrubbed-Ek", "postcode":
        "18723", "state": "-Fallback-scrubbed-rI", "suburb": "-Fallback-scrubbed-yxmxDsLoZcY"},
        "state_of_incorporation": null, "url": "-Fallback-scrubbed-oBElSOBPxrYJlgbDXmhBJAMH",
        "urls": ["-Fallback-scrubbed-oBElSOBPxrYJlgbDXmhBJAMH"]}, "business_person_details":
        [{"attachments": {"business_person_documents": []}, "date_of_birth": "1999-04-22",
        "email": "oboyer@example.org", "first_name_english": "-Fallback-scrubbed-sdDjh",
        "identifications": {"primary": {"identification_type": "-Fallback-scrubbed-JCLCTi",
        "issuing_country_code": "-Fallback-scrubbed-Ek", "tax_id": {"number": "-Fallback-scrubbed-VxYXfuzbc",
        "type": "-Fallback-scrubbed-bUvV"}}}, "job_title": "-Fallback-scrubbed-yaS",
        "last_name_english": "-Fallback-scrubbed-LldKuK", "nationality": "-Fallback-scrubbed-Ek",
        "person_id": "-Fallback-scrubbed-kFdqYzTcWEbsXhtPWDQdgblLQWZfXxaPnYFX", "phone_number":
        "2875465946", "residential_address": {"country_code": "-Fallback-scrubbed-Ek",
        "postcode": "18723"}, "roles": ["-Fallback-scrubbed-lLZAVcXbtUIfpsLm", "-Fallback-scrubbed-bzYfRKlpxbDLdnHVIP",
        "-Fallback-scrubbed-uhzNVEVTwZgLMVTai"]}], "store_details": {"cross_border_transaction_percent":
        "-Fallback-scrubbed-CrZs", "employee_size": 2887, "estimated_transaction_volume":
        {"average_amount_per_transaction": "-Fallback-scrubbed-iTOLgWV", "currency":
        "-Fallback-scrubbed-Htr", "max_amount_per_transaction": "-Fallback-scrubbed-iTOLgWV",
        "monthly_transaction_amount": "-Fallback-scrubbed-jrDnMbpY"}, "financial_statements":
        [], "fulfillment_days": 1321, "industry_code": "-Fallback-scrubbed-VhdvSKfPtylk",
        "mcc": "-Fallback-scrubbed-cKMK", "operating_models": ["-Fallback-scrubbed-OcwzRzfEAVURetl",
        "-Fallback-scrubbed-rqirpIdUDFOmpleSctamZaqxTssJbx"], "payment_distribution":
        [{"payment_type": "-Fallback-scrubbed-TWolK", "percentage": "-Fallback-scrubbed-gvOH"},
        {"payment_type": "-Fallback-scrubbed-rkHEq", "percentage": "-Fallback-scrubbed-gvOH"}],
        "selling_to_country_codes": [], "shipping_from_country_codes": [], "store_description":
        "-Fallback-scrubbed-CjoIYKXwveVDxSCVIn", "store_name": "-Fallback-scrubbed-hCgFMUcCnAyBzrFs",
        "store_photos": [], "store_websites": [{"url": "-Fallback-scrubbed-eiMFnECXTfwabiMsQQIkArgrCRySsUaqesjARuoZBVIEAJXRICbCJXQ"}]},
        "trustee_details": null, "individual_details": null, "legal_entity_id": "-Fallback-scrubbed-OOikXZfSdLZlsWxTTsoxoXhOz",
        "legal_entity_identifier": null, "legal_entity_type": "-Fallback-scrubbed-ZUvICUtI"},
        "created_at": "-Fallback-scrubbed-PSzcBBDFOJJAITjQJvpazHpf", "customer_agreements":
        {"agreed_to_data_usage": true, "agreed_to_terms_and_conditions": true, "opt_in_for_marketing":
        true, "terms_and_conditions": {"device_data": {}, "service_agreement_type":
        "-Fallback-scrubbed-JfUl"}}, "id": "-Fallback-scrubbed-hkAYcZWdmaTwUGUhEBeHdAXbvea",
        "nickname": "-Fallback-scrubbed-hkAYcZWdmaTwUGUhEBeHdAXbvea", "primary_contact":
        {"attachments": {"identity_files": []}, "email": "oboyer@example.org", "mobile":
        "2875465946"}, "status": "-Fallback-scrubbed-jwsneO", "view_type": "-Fallback-scrubbed-zoSimekG"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 01faa4c6564641cb881d763aae61ed71
      x-awx-trace-id:
      - 01faa4c6564641cb881d763aae61ed71
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/deposits?page_size=100&page_num=0&from_created_at=2026-01-01T00%3A00%3A00.000000Z&to_created_at=2026-01-31T23%3A59%3A59.999999Z
  response:
    body:
      string: '{"has_more": false, "items": [], "total_count": 2887}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 7428d87faa67402e87aff426c23ff27a
      x-awx-trace-id:
      - 7428d87faa67402e87aff426c23ff27a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/deposits?page_size=100&page_num=0&from_created_at=2026-06-01T00%3A00%3A00.000000Z&to_created_at=2026-06-30T23%3A59%3A59.999999Z
  response:
    body:
      string: '{"has_more": false, "items": [{"amount": 1.7641917566268, "created_at":
        "-Fallback-scrubbed-VTbbhUfIdgQjRNxrmaJlyFJP", "currency": "-Fallback-scrubbed-JfR",
        "fee": {"amount": -2460896502863.84, "currency": "-Fallback-scrubbed-JfR"},
        "id": "-Fallback-scrubbed-iZSdGFTXCqkqdyXELOdsIKJrYYnOGsTjwAyl", "payer":
        {"digital_wallet": {"account_name": "-Fallback-scrubbed-NETUmSVXjvkrYalkZhi",
        "provider": "-Fallback-scrubbed-dWRXJhdbh"}, "name": "-Fallback-scrubbed-NETUmSVXjvkrYalkZhi"},
        "provider_transaction_id": "-Fallback-scrubbed-iZSdGFTXCqkqdyXELOdsIKJrYYnOGsTjwAyl",
        "reference": "-Fallback-scrubbed-nWmlXv", "settled_at": "-Fallback-scrubbed-pGeCHWInyikmKCKxxGSFtllq",
        "status": "-Fallback-scrubbed-lxMWnkT", "type": "-Fallback-scrubbed-ssmrBTiIfeCpunyHyKrBcqU"}],
        "total_count": 6728}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 4bf8d061b0584c9493d78e8fb7cbedc7
      x-awx-trace-id:
      - 4bf8d061b0584c9493d78e8fb7cbedc7
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/deposits?page_size=100&page_num=0&from_created_at=2026-08-01T00%3A00%3A00.000000Z&to_created_at=2026-08-04T13%3A54%3A00.000000Z
  response:
    body:
      string: '{"has_more": false, "items": [], "total_count": 2887}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 9229f383ee614fbaa01e24a1b43440a9
      x-awx-trace-id:
      - 9229f383ee614fbaa01e24a1b43440a9
    status:
      code: 200
      message: OK
version: 1
