interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-demo.airwallex.com/api/v1/authentication/login
  response:
    body:
      string: '{"expires_at": "2026-08-04T14:23:19+0000", "token": "eyJ***"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/spend/expenses?from_created_at=2020-01-01T00%3A00%3A00.000000Z
  response:
    body:
      string: '{"items": [{"account_id": "-Fallback-scrubbed-KGPIvcYqkkbleJWyhgGEWqiMerT",
        "accounting_field_selections": [], "approvers": [], "attachments": [], "attendees":
        [], "billing_amount": "-Fallback-scrubbed-kjtU", "billing_currency": "-Fallback-scrubbed-FTF",
        "card_id": "-Fallback-scrubbed-kGnHNaPlAhLyCtQKXSoIfAOZxWThEeOJxdFI", "card_transaction":
        {"amount": "-Fallback-scrubbed-kjtU", "currency": "-Fallback-scrubbed-FTF",
        "status": "-Fallback-scrubbed-grTeekQ"}, "comments": [], "created_at": "-Fallback-scrubbed-pdEsBKsKqQJMwFSiOeBZ",
        "description": "-Fallback-scrubbed-jbNooyhUYtJohqlIhpNZmoMWcoF", "id": "-Fallback-scrubbed-jxVmAmhFrjumSsiliWZPCCUaoIvIkCPuHAiN",
        "legal_entity_id": "-Fallback-scrubbed-izISxVxHHRAHfMaeavFXPLmef", "line_items":
        [{"accounting_field_selections": [{"external_id": "-Fallback-scrubbed-hIIdRYYZuOSISjApfKBUxugynoEuuULoPzoR",
        "name": null, "type": "-Fallback-scrubbed-IDnLPvLttaPjzgvCcPRmsH", "value":
        "-Fallback-scrubbed-lVqPcHjeYxcRrxDksl", "value_label": "-Fallback-scrubbed-lVqPcHjeYxcRrxDksl"},
        {"external_id": "-Fallback-scrubbed-PaRmGpXCNIkQkbFYDecFYrFdOiasTOuiZKwl",
        "name": "Kathy King", "type": "-Fallback-scrubbed-EHMCG", "value": "-Fallback-scrubbed-MY",
        "value_label": "-Fallback-scrubbed-MY"}, {"external_id": "-Fallback-scrubbed-zemIwemuwCofPJVcVLpaECFPhplGtoHteRFO",
        "name": "Rachel Choi", "type": "-Fallback-scrubbed-EHMCG", "value": "-Fallback-scrubbed-zngyRQgKPiI",
        "value_label": "-Fallback-scrubbed-zngyRQgKPiI"}], "description": null, "id":
        "-Fallback-scrubbed-ujsDWfqWSUPIGRjexxFYhLfCGHQSQFDHbdgG", "transaction_amount":
        "-Fallback-scrubbed-kjtU"}], "merchant": "-Fallback-scrubbed-ZfReD", "settled_at":
        "-Fallback-scrubbed-EMxssAIJdbOQpGAjYBhv", "status": "-Fallback-scrubbed-gVXtZWAc",
        "sync_status": "-Fallback-scrubbed-iChvnZDLAg", "updated_at": "-Fallback-scrubbed-SqwXyfzXaDLybbTPXxOU"},
        {"account_id": "-Fallback-scrubbed-KGPIvcYqkkbleJWyhgGEWqiMerT", "accounting_field_selections":
        [], "approvers": [], "attachments": [], "attendees": [], "billing_amount":
        "-Fallback-scrubbed-vLrN", "billing_currency": "-Fallback-scrubbed-FTF", "card_id":
        "-Fallback-scrubbed-kGnHNaPlAhLyCtQKXSoIfAOZxWThEeOJxdFI", "card_transaction":
        {"amount": "-Fallback-scrubbed-vLrN", "currency": "-Fallback-scrubbed-FTF",
     [...]
