interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-demo.airwallex.com/api/v1/authentication/login
  response:
    body:
      string: '{"expires_at": "2026-08-04T14:23:31+0000", "token": "eyJ***"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/account?page_size=100
  response:
    body:
      string: '{"account_details": {"attachments": {"additional_files": []}, "business_details":
        {"account_usage": {"estimated_monthly_revenue": {"amount": "-Fallback-scrubbed-SqBxKI",
        "currency": "-Fallback-scrubbed-cgV"}, "product_reference": []}, "as_trustee":
        null, "attachments": {"business_documents": []}, "business_address": {"country_code":
        "-Fallback-scrubbed-bL", "postcode": "58085"}, "business_identifiers": [{"country_code":
        "-Fallback-scrubbed-bL", "number": "-Fallback-scrubbed-mXdQDXQBK", "type":
        "-Fallback-scrubbed-IYn"}], "business_name": "-Fallback-scrubbed-AwpPKvetphMxrrZA",
        "business_name_english": "-Fallback-scrubbed-AwpPKvetphMxrrZA", "business_name_trading":
        null, "business_start_date": "-Fallback-scrubbed-THvcNHZcqM", "business_structure":
        "-Fallback-scrubbed-zDYPizW", "contact_number": null, "description_of_goods_or_services":
        "-Fallback-scrubbed-PGAXtgIZXPujCAXWjrlvvLlXzLWnWUaS", "explanation_for_high_risk_countries_exposure":
        null, "exports_goods_or_services": null, "fax_number": null, "has_constitution_document":
        null, "has_member_holding_public_office": null, "has_nominee_shareholders":
        null, "has_prior_financial_institution_refusal": null, "has_ringgit_borrowing":
        null, "industry_category_code": "-Fallback-scrubbed-vTMeYQmOcWPe", "no_shareholders_with_over_25percent":
        null, "operating_country": [], "registration_address": {"country_code": "-Fallback-scrubbed-bL",
        "postcode": "58085"}, "registration_address_english": {"address_line1": "9911
        Delgado Cove", "country_code": "-Fallback-scrubbed-bL", "postcode": "58085",
        "state": "-Fallback-scrubbed-vK", "suburb": "-Fallback-scrubbed-nzxluzVpHvh"},
        "state_of_incorporation": null, "url": "-Fallback-scrubbed-tKRqzaevFPcPjpbProdutSuI",
        "urls": ["-Fallback-scrubbed-tKRqzaevFPcPjpbProdutSuI"]}, "business_person_details":
        [{"attachments": {"business_person_documents": []}, "date_of_birth": "2003-11-22",
        "email": "tthomas@example.com", "first_name_english": "-Fallback-scrubbed-HjcKb",
        "identifications": {"primary": {"identification_type": "-Fallback-scrubbed-pDeOSa",
        "issuing_country_code": "-Fallback-scrubbed-bL", "tax_id": {"number": "-Fallback-scrubbed-mXdQDXQBK",
        "type": "-Fallback-scrubbed-pOwl"}}}, "job_title": "-Fallback-scrubbed-gMP",
        "last_name_english": "-Fallback-scrubbed-WwXqwE", "nationality": "-Fallback-scrubbed-bL",
        "person_id": "-Fallback-scrubbed-EAKLdRMUSzDsdUpTBDrQANyYtfNsfAfIcjZi", "phone_number":
        "372.773.8836x75496", "residential_address": {"country_code": "-Fallback-scrubbed-bL",
        "postcode": "58085"}, "roles": ["-Fallback-scrubbed-quBSZSLUMfqkspjS", "-Fallback-scrubbed-BmLrCawDxVmIvMRnFT",
        "-Fallback-scrubbed-bHrjDrkHmZOMoMhGK"]}], "store_details": {"cross_border_transaction_percent":
        "-Fallback-scrubbed-efur", "employee_size": 7872, "estimated_transaction_volume":
        {"average_amount_per_transaction": "-Fallback-scrubbed-hcDZPCu", "currency":
        "-Fallback-scrubbed-FBF", "max_amount_per_transaction": "-Fallback-scrubbed-hcDZPCu",
        "monthly_transaction_amount": "-Fallback-scrubbed-mNzqKMFB"}, "financial_statements":
        [], "fulfillment_days": 6545, "industry_code": "-Fallback-scrubbed-efySQnKPKZZi",
        "mcc": "-Fallback-scrubbed-tAWb", "operating_models": ["-Fallback-scrubbed-zYuxIWNSFUiBNBg",
        "-Fallback-scrubbed-HChYbvaniFoOgGKfsFGJlGiTapRkTH"], "payment_distribution":
        [{"payment_type": "-Fallback-scrubbed-bbaBj", "percentage": "-Fallback-scrubbed-FuuN"},
        {"payment_type": "-Fallback-scrubbed-BxGwm", "percentage": "-Fallback-scrubbed-FuuN"}],
        "selling_to_country_codes": [], "shipping_from_country_codes": [], "store_description":
        "-Fallback-scrubbed-HHZCUHWjMRJRqhPDOk", "store_name": "-Fallback-scrubbed-AwpPKvetphMxrrZA",
        "store_photos": [], "store_websites": [{"url": "-Fallback-scrubbed-gYSlZRXYfUDwlCmCTCIohZRJkZfmunDkvqFdXSSSwJLOBXkALBgKFwf"}]},
        "trustee_details": null, "individual_details": null, "legal_entity_id": "-Fallback-scrubbed-zJSuwQFbIilqtZmusNOmqQIDx",
        "legal_entity_identifier": null, "legal_entity_type": "-Fallback-scrubbed-MiQwNlat"},
        "created_at": "-Fallback-scrubbed-IumcgkspYpocPOmNhwGedTMM", "customer_agreements":
        {"agreed_to_data_usage": true, "agreed_to_terms_and_conditions": true, "opt_in_for_marketing":
        true, "terms_and_conditions": {"device_data": {}, "service_agreement_type":
        "-Fallback-scrubbed-XKDE"}}, "id": "-Fallback-scrubbed-lKGFNstLetOPOIfTLwSYczFDRGZ",
        "nickname": "-Fallback-scrubbed-lKGFNstLetOPOIfTLwSYczFDRGZ", "primary_contact":
        {"attachments": {"identity_files": []}, "email": "tthomas@example.com", "mobile":
        "372.773.8836x75496"}, "status": "-Fallback-scrubbed-SRHfRd", "view_type":
        "-Fallback-scrubbed-uUfmSMiB"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - d245140391f24bb39ae07b9376ac6627
      x-awx-trace-id:
      - d245140391f24bb39ae07b9376ac6627
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/transfers?page=0
  response:
    body:
      string: '{"items": [{"amount_beneficiary_receives": -9.71933413572897, "amount_payer_pays":
        17164437099.6575, "beneficiary": {"additional_info": {"personal_id_number":
        "-Fallback-scrubbed-sLobbkoMglZNJuMiGq", "personal_id_type": "-Fallback-scrubbed-chmjcAplyuIEnyTonJL",
        "personal_mobile_number": "-Fallback-scrubbed-SYPdXFiqILg"}, "address": {"city":
        "Sherrymouth", "country_code": "-Fallback-scrubbed-Gc", "postcode": "24532",
        "state": "-Fallback-scrubbed-kIeVlGkwr", "street_address": "00673 Jones Coves"},
        "bank_details": {"account_currency": "-Fallback-scrubbed-cgV", "account_name":
        "-Fallback-scrubbed-cxICVRNEvjBA", "account_number": "-Fallback-scrubbed-XUOzrssw",
        "account_routing_type1": "-Fallback-scrubbed-xzz", "account_routing_value1":
        "-Fallback-scrubbed-krTVDlZwA", "bank_country_code": "-Fallback-scrubbed-bL",
        "bank_name": "-Fallback-scrubbed-BXsiMezrtcFMcmfPnsgtDcr", "local_clearing_system":
        "-Fallback-scrubbed-Nmd"}, "date_of_birth": "1993-08-17", "entity_type": "-Fallback-scrubbed-XAFRxgEs",
        "first_name": "Judy", "last_name": "Washington", "type": "-Fallback-scrubbed-WsfjWhhYcxvP"},
        "beneficiary_id": "-Fallback-scrubbed-oJduzwTajAktecfsVKoVWqMprRshIfUnqfkV",
        "conversion": {"currency_pair": "-Fallback-scrubbed-oYnNOr", "rate": 6475.4456560863},
        "created_at": "-Fallback-scrubbed-pdCrKTFHzhXpYaWMSmqJYyYm", "fee_amount":
        7872, "fee_currency": "-Fallback-scrubbed-jQj", "fee_paid_by": "-Fallback-scrubbed-bMHbLvxjfLH",
        "funding": {"status": "-Fallback-scrubbed-GRKnRX"}, "id": "-Fallback-scrubbed-SWawiwDrhKLJEaMZdcnlTYyhAutbYXoPzZEA",
        "payer": {"additional_info": {"business_incorporation_date": "-Fallback-scrubbed-THvcNHZcqM",
        "business_registration_number": "-Fallback-scrubbed-mXdQDXQBK", "business_registration_type":
        "-Fallback-scrubbed-zDYPizW"}, "address": {"city": "-Fallback-scrubbed-nzxluzVpHvh",
        "country_code": "-Fallback-scrubbed-bL", "postcode": "58085", "state": "-Fallback-scrubbed-vK",
        "street_address": "9911 Delgado Cove"}, "company_name": "-Fallback-scrubbed-AwpPKvetphMxrrZA",
        "entity_type": "-Fallback-scrubbed-zDYPizW"}, "reason": "-Fallback-scrubbed-ksVaoGGNdyknMVNSf",
        "reference": "-Fallback-scrubbed-jQj", "remarks": "-Fallback-scrubbed-YfLHuJlPPzOLuiTRqbtS",
        "request_id": "-Fallback-scrubbed-gubfzpbUOSVufNEGmdScBTYlHoYaQtOmRqQw", "short_reference_id":
        "-Fallback-scrubbed-cpumKmBKAqgebfE", "source_amount": 17164437099.6575, "source_currency":
        "-Fallback-scrubbed-jQj", "status": "-Fallback-scrubbed-XTcqTmXSah", "swift_charge_option":
        "-Fallback-scrubbed-yrndoP", "transfer_amount": -9.71933413572897, "transfer_currency":
        "-Fallback-scrubbed-cgV", "transfer_date": "-Fallback-scrubbed-NNzVlsxHvs",
        "transfer_method": "Washington", "updated_at": "-Fallback-scrubbed-MJKXbdiFnpfylwVnoCSdlcFf"},
        {"amount_beneficiary_receives": 30914316735.51, "amount_payer_pays": 30914316735.51,
        "batch_transfer_id": "-Fallback-scrubbed-IrBSZgSEUrwzfXmaUvrFqQzfKKfkaGxdMgok",
        "beneficiary": {"address": {"city": "Coreyberg", "country_code": "-Fallback-scrubbed-bL",
        "postcode": "29177", "state": "-Fallback-scrubbed-Jh", "street_address": "2960
        Houston Manor"}, "bank_details": {"account_currency": "-Fallback-scrubbed-cgV",
        "account_name": "-Fallback-scrubbed-cxICVRNEvjBA", "account_number": "-Fallback-scrubbed-XUOzrssw",
        "account_routing_type1": "-Fallback-scrubbed-xzz", "account_routing_value1":
        "-Fallback-scrubbed-krTVDlZwA", "bank_account_category": "-Fallback-scrubbed-yYQkLofD",
        "bank_country_code": "-Fallback-scrubbed-bL", "bank_name": "-Fallback-scrubbed-BXsiMezrtcFMcmfPnsgtDcr",
        "local_clearing_system": "-Fallback-scrubbed-Nmd"}, "entity_type": "-Fallback-scrubbed-XAFRxgEs",
        "type": "-Fallback-scrubbed-WsfjWhhYcxvP"}, "created_at": "-Fallback-scrubbed-WcDmFdeHoVXVDNVozUzdiLzE",
        "fee_amount": 7872, "fee_currency": "-Fallback-scrubbed-cgV", "fee_paid_by":
        "-Fallback-scrubbed-onoGt", "funding": {"status": "-Fallback-scrubbed-GRKnRX"},
        "id": "-Fallback-scrubbed-QvNlvpwaUmfRtyuyiZlbGRCNVbmtnhMgPDat", "metadata":
        {"rowIndex": "-Fallback-scrubbed-s"}, "payer": {"additional_info": {"business_incorporation_date":
        "-Fallback-scrubbed-THvcNHZcqM", "business_registration_number": "-Fallback-scrubbed-mXdQDXQBK",
        "business_registration_type": "-Fallback-scrubbed-zDYPizW"}, "address": {"city":
        "-Fallback-scrubbed-nzxluzVpHvh", "country_code": "-Fallback-scrubbed-bL",
        "postcode": "58085", "state": "-Fallback-scrubbed-vK", "street_address": "9911
        Delgado Cove"}, "company_name": "-Fallbac[...]
