interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-demo.airwallex.com/api/v1/authentication/login
  response:
    body:
      string: '{"expires_at": "2026-08-04T14:26:15+0000", "token": "eyJ***"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/account?page_size=100
  response:
    body:
      string: '{"account_details": {"attachments": {"additional_files": []}, "business_details":
        {"account_usage": {"estimated_monthly_revenue": {"amount": "-Fallback-scrubbed-dpJpQb",
        "currency": "-Fallback-scrubbed-YPE"}, "product_reference": []}, "as_trustee":
        null, "attachments": {"business_documents": []}, "business_address": {"country_code":
        "-Fallback-scrubbed-ES", "postcode": "44378"}, "business_identifiers": [{"country_code":
        "-Fallback-scrubbed-ES", "number": "-Fallback-scrubbed-JHrfuhEKL", "type":
        "-Fallback-scrubbed-nXG"}], "business_name": "-Fallback-scrubbed-vsBnfhrvlGJAyXlR",
        "business_name_english": "-Fallback-scrubbed-vsBnfhrvlGJAyXlR", "business_name_trading":
        null, "business_start_date": "-Fallback-scrubbed-JyzxrzlZQa", "business_structure":
        "-Fallback-scrubbed-IbjiTvz", "contact_number": null, "description_of_goods_or_services":
        "-Fallback-scrubbed-mUvfITpsJuicytTJwkjENVYqxhhyIsBP", "explanation_for_high_risk_countries_exposure":
        null, "exports_goods_or_services": null, "fax_number": null, "has_constitution_document":
        null, "has_member_holding_public_office": null, "has_nominee_shareholders":
        null, "has_prior_financial_institution_refusal": null, "has_ringgit_borrowing":
        null, "industry_category_code": "-Fallback-scrubbed-BokUQRLVBkli", "no_shareholders_with_over_25percent":
        null, "operating_country": [], "registration_address": {"country_code": "-Fallback-scrubbed-ES",
        "postcode": "44378"}, "registration_address_english": {"address_line1": "55894
        Mercer Forks Apt. 173", "country_code": "-Fallback-scrubbed-ES", "postcode":
        "44378", "state": "-Fallback-scrubbed-Hu", "suburb": "-Fallback-scrubbed-hEjtEFNOwOT"},
        "state_of_incorporation": null, "url": "-Fallback-scrubbed-ARMulUoBEJwzFpJpmfoUtNxF",
        "urls": ["-Fallback-scrubbed-ARMulUoBEJwzFpJpmfoUtNxF"]}, "business_person_details":
        [{"attachments": {"business_person_documents": []}, "date_of_birth": "2002-01-07",
        "email": "michelle79@example.net", "first_name_english": "-Fallback-scrubbed-sjOMj",
        "identifications": {"primary": {"identification_type": "-Fallback-scrubbed-OrNBJW",
        "issuing_country_code": "-Fallback-scrubbed-ES", "tax_id": {"number": "-Fallback-scrubbed-JHrfuhEKL",
        "type": "-Fallback-scrubbed-iHDM"}}}, "job_title": "-Fallback-scrubbed-tRp",
        "last_name_english": "-Fallback-scrubbed-jobmpK", "nationality": "-Fallback-scrubbed-ES",
        "person_id": "-Fallback-scrubbed-brstNcPqcNWSOJsJsQuxIYCsMrdsVmGobnOT", "phone_number":
        "(825)303-2601", "residential_address": {"country_code": "-Fallback-scrubbed-ES",
        "postcode": "44378"}, "roles": ["-Fallback-scrubbed-WlSRewPyWPDvKgXd", "-Fallback-scrubbed-UURZQWvaIzxlEsyFvf",
        "-Fallback-scrubbed-cFnZKfQzCKxLLdlBE"]}], "store_details": {"cross_border_transaction_percent":
        "-Fallback-scrubbed-iyDb", "employee_size": 5024, "estimated_transaction_volume":
        {"average_amount_per_transaction": "-Fallback-scrubbed-ZmyjaVp", "currency":
        "-Fallback-scrubbed-yXE", "max_amount_per_transaction": "-Fallback-scrubbed-ZmyjaVp",
        "monthly_transaction_amount": "-Fallback-scrubbed-GQLYAlJB"}, "financial_statements":
        [], "fulfillment_days": 8718, "industry_code": "-Fallback-scrubbed-jconLFyIZylx",
        "mcc": "-Fallback-scrubbed-afNW", "operating_models": ["-Fallback-scrubbed-dthJTvgCSYpaYjl",
        "-Fallback-scrubbed-amhUlsCIdafSFYhBsJtWYZREEXPtwb"], "payment_distribution":
        [{"payment_type": "-Fallback-scrubbed-KDHFA", "percentage": "-Fallback-scrubbed-Dcoo"},
        {"payment_type": "-Fallback-scrubbed-RxDKS", "percentage": "-Fallback-scrubbed-Dcoo"}],
        "selling_to_country_codes": [], "shipping_from_country_codes": [], "store_description":
        "-Fallback-scrubbed-huAXZrXpsOSVkEwrNY", "store_name": "-Fallback-scrubbed-vsBnfhrvlGJAyXlR",
        "store_photos": [], "store_websites": [{"url": "-Fallback-scrubbed-fUfNDDycFmdTTSMmkClnhIEArpXTZEByjVtJUPEzkGLiprKGHBhAWOM"}]},
        "trustee_details": null, "individual_details": null, "legal_entity_id": "-Fallback-scrubbed-eORPPmwIixvAAgfJMFRsNafBT",
        "legal_entity_identifier": null, "legal_entity_type": "-Fallback-scrubbed-KWVTcySe"},
        "created_at": "-Fallback-scrubbed-OLaHdHQDqwMtBfldPZYfyTfD", "customer_agreements":
        {"agreed_to_data_usage": true, "agreed_to_terms_and_conditions": true, "opt_in_for_marketing":
        false, "terms_and_conditions": {"device_data": {}, "service_agreement_type":
        "-Fallback-scrubbed-xveT"}}, "id": "-Fallback-scrubbed-HbkiDYaeBFUIsNVCLUexiOyFcKb",
        "nickname": "-Fallback-scrubbed-HbkiDYaeBFUIsNVCLUexiOyFcKb", "primary_contact":
        {"attachments": {"identity_files": []}, "email": "michelle79@example.net",
        "mobile": "(825)303-2601"}, "status": "-Fallback-scrubbed-OsICoR", "view_type":
        "-Fallback-scrubbed-FHmYKnAF"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - e785ce055c9141568fa6a0a7f01fb33a
      x-awx-trace-id:
      - e785ce055c9141568fa6a0a7f01fb33a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/financial_transactions?page_size=100
  response:
    body:
      string: '{"has_more": false, "items": [{"id": "-Fallback-scrubbed-xsETjOhQjSezDuPPqonAPoXdlPjEBzlrdZuv",
        "batch_id": null, "source_id": "-Fallback-scrubbed-xsETjOhQjSezDuPPqonAPoXdlPjEBzlrdZuv",
        "funding_source_id": null, "source_type": "-Fallback-scrubbed-wteBstUWznuQO",
        "transaction_type": "-Fallback-scrubbed-FCBoAJIPXSyIOxVFaNGMLTnbwXOOB", "currency":
        "-Fallback-scrubbed-YPE", "amount": 40799430.6712415, "client_rate": null,
        "currency_pair": null, "net": 40799430.6712415, "fee": 5024, "estimated_settled_at":
        null, "settled_at": "-Fallback-scrubbed-ztHGOWMchSmKkAYbuImAHUZiwAJRJ", "description":
        null, "status": "-Fallback-scrubbed-zAawShBKf", "created_at": "-Fallback-scrubbed-ztHGOWMchSmKkAYbuImAHUZiwAJRJ"},
        {"id": "-Fallback-scrubbed-AqMbimCjumXXgUMwTTzVijZiIjGqPfmvlOYd", "batch_id":
        null, "source_id": "-Fallback-scrubbed-AqMbimCjumXXgUMwTTzVijZiIjGqPfmvlOYd",
        "funding_source_id": null, "source_type": "-Fallback-scrubbed-wteBstUWznuQO",
        "transaction_type": "-Fallback-scrubbed-SEzwPNWxXurxQIn", "currency": "-Fallback-scrubbed-YPE",
        "amoun[...]
