interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-demo.airwallex.com/api/v1/authentication/login
  response:
    body:
      string: '{"expires_at": "2026-08-04T14:26:44+0000", "token": "eyJ***"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/account?page_size=100
  response:
    body:
      string: '{"account_details": {"attachments": {"additional_files": []}, "business_details":
        {"account_usage": {"estimated_monthly_revenue": {"amount": "-Fallback-scrubbed-kyEpnx",
        "currency": "-Fallback-scrubbed-cEP"}, "product_reference": []}, "as_trustee":
        null, "attachments": {"business_documents": []}, "business_address": {"country_code":
        "-Fallback-scrubbed-vN", "postcode": "31991"}, "business_identifiers": [{"country_code":
        "-Fallback-scrubbed-vN", "number": "-Fallback-scrubbed-ljgpddjRn", "type":
        "-Fallback-scrubbed-hRe"}], "business_name": "-Fallback-scrubbed-uRjlaFMuzYlvPTFt",
        "business_name_english": "-Fallback-scrubbed-uRjlaFMuzYlvPTFt", "business_name_trading":
        null, "business_start_date": "-Fallback-scrubbed-pkFroaUwGn", "business_structure":
        "-Fallback-scrubbed-TaoGBMm", "contact_number": null, "description_of_goods_or_services":
        "-Fallback-scrubbed-uHXxshNjXVHQuADCWflysjLrCKUFIGzb", "explanation_for_high_risk_countries_exposure":
        null, "exports_goods_or_services": null, "fax_number": null, "has_constitution_document":
        null, "has_member_holding_public_office": null, "has_nominee_shareholders":
        null, "has_prior_financial_institution_refusal": null, "has_ringgit_borrowing":
        null, "industry_category_code": "-Fallback-scrubbed-pvMHidevqAyh", "no_shareholders_with_over_25percent":
        null, "operating_country": [], "registration_address": {"country_code": "-Fallback-scrubbed-vN",
        "postcode": "31991"}, "registration_address_english": {"address_line1": "71562
        Smith Field", "country_code": "-Fallback-scrubbed-vN", "postcode": "31991",
        "state": "-Fallback-scrubbed-rK", "suburb": "-Fallback-scrubbed-DHYLTKmKXhq"},
        "state_of_incorporation": null, "url": "-Fallback-scrubbed-EvuZKJubkcHPJcvVuCxyrRjp",
        "urls": ["-Fallback-scrubbed-EvuZKJubkcHPJcvVuCxyrRjp"]}, "business_person_details":
        [{"attachments": {"business_person_documents": []}, "date_of_birth": "1970-07-15",
        "email": "patricia79@example.org", "first_name_english": "-Fallback-scrubbed-hvSin",
        "identifications": {"primary": {"identification_type": "-Fallback-scrubbed-wfldzw",
        "issuing_country_code": "-Fallback-scrubbed-vN", "tax_id": {"number": "-Fallback-scrubbed-ljgpddjRn",
        "type": "-Fallback-scrubbed-sOcn"}}}, "job_title": "-Fallback-scrubbed-eTl",
        "last_name_english": "-Fallback-scrubbed-pYnxFf", "nationality": "-Fallback-scrubbed-vN",
        "person_id": "-Fallback-scrubbed-OskjbdbdoGyUCXPzHfBTJLZPHXPeXKoVqYZj", "phone_number":
        "+1-393-762-4591x50470", "residential_address": {"country_code": "-Fallback-scrubbed-vN",
        "postcode": "31991"}, "roles": ["-Fallback-scrubbed-bcNzwPEDEjqaEAOV", "-Fallback-scrubbed-nyjZrPwbfWeIWXSeBH",
        "-Fallback-scrubbed-DtxmBseRqgSdvMIgy"]}], "store_details": {"cross_border_transaction_percent":
        "-Fallback-scrubbed-thZu", "employee_size": 2498, "estimated_transaction_volume":
        {"average_amount_per_transaction": "-Fallback-scrubbed-CYaOiFv", "currency":
        "-Fallback-scrubbed-FfU", "max_amount_per_transaction": "-Fallback-scrubbed-CYaOiFv",
        "monthly_transaction_amount": "-Fallback-scrubbed-BeHEexvF"}, "financial_statements":
        [], "fulfillment_days": 2550, "industry_code": "-Fallback-scrubbed-GFyBYUewpJMU",
        "mcc": "-Fallback-scrubbed-NIJS", "operating_models": ["-Fallback-scrubbed-NnfsKTIynTUcRcn",
        "-Fallback-scrubbed-TkahfaBWWQSapNnfqyDqdSCWIflYVK"], "payment_distribution":
        [{"payment_type": "-Fallback-scrubbed-hdmgp", "percentage": "-Fallback-scrubbed-DfZs"},
        {"payment_type": "-Fallback-scrubbed-HPMPw", "percentage": "-Fallback-scrubbed-DfZs"}],
        "selling_to_country_codes": [], "shipping_from_country_codes": [], "store_description":
        "-Fallback-scrubbed-vrOAKJgNFtuAjvQioQ", "store_name": "-Fallback-scrubbed-uRjlaFMuzYlvPTFt",
        "store_photos": [], "store_websites": [{"url": "-Fallback-scrubbed-QohLMQEkAwSRZoZYXGdyavMsYsPQgXZPWekTZGltefGkuGTphVRYBOq"}]},
        "trustee_details": null, "individual_details": null, "legal_entity_id": "-Fallback-scrubbed-BNmtxnVdSyQxABmaJLwtByxrO",
        "legal_entity_identifier": null, "legal_entity_type": "-Fallback-scrubbed-qBNNsHQZ"},
        "created_at": "-Fallback-scrubbed-frOzPOlpgHWKqYBYLqtJxNcB", "customer_agreements":
        {"agreed_to_data_usage": false, "agreed_to_terms_and_conditions": false, "opt_in_for_marketing":
        true, "terms_and_conditions": {"device_data": {}, "service_agreement_type":
        "-Fallback-scrubbed-dtCR"}}, "id": "-Fallback-scrubbed-UISgdebFssrnCUnGJApDpuCjdyx",
        "nickname": "-Fallback-scrubbed-UISgdebFssrnCUnGJApDpuCjdyx", "primary_contact":
        {"attachments": {"identity_files": []}, "email": "patricia79@example.org",
        "mobile": "+1-393-762-4591x50470"}, "status": "-Fallback-scrubbed-KLpeNT",
        "view_type": "-Fallback-scrubbed-QjeazHQP"}'
    headers:
      content-type:
      - application/json
      correlation-id:
      - 62b85c43e9154853834e7d5feb2b1372
      x-awx-trace-id:
      - 62b85c43e9154853834e7d5feb2b1372
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/fx/conversions?page_size=100&from_created_at=2026-01-01T00%3A00%3A00.000000Z&to_created_at=2026-08-04T13%3A54%3A00.000000Z
  response:
    body:
      string: '{"has_more": false, "items": [{"awx_rate": 6900.89645116707, "buy_amount":
        711.704701357029, "buy_currency": "-Fallback-scrubbed-cEP", "client_rate":
        -141.12029490119, "conversion_date": "-Fallback-scrubbed-MlXEcJmjct", "conversion_id":
        "-Fallback-scrubbed-CWflykLgaovATmJWlNtGuedyrwCjKJzFwTbP", "created_at": "-Fallback-scrubbed-YWWJQCTPiMuJCgSwKmpWwKBm",
        "currency_pair": "-Fallback-scrubbed-NQPIEK", "dealt_currency": "-Fallback-scrubbed-Erw",
        "mid_rate": -9410963725.29584, "quote_id": "-Fallback-scrubbed-pRguTlbwMEhryJdayBdySXtnYmYKCLTxeRls",
        "rate_details": [{"buy_amount": -56.2086980302067, "level": "-Fallback-scrubbed-wQD",
        "rate": 6900.89645116707, "sell_amount": 8112352.6339912}, {"buy_amount":
        711.704701357029, "level": "-Fallback-scrubbed-vSoNaB", "rate": -141.12029490119,
        "sell_amount": 8112352.6339912}], "request_id": "-Fallback-scrubbed-QdYOqmuFsUofKHQJLVlnbvxfVmenOjUFCPox",
        "sell_amount": 8112352.6339912, "sell_currency": "-Fallback-scrubbed-Erw",
        "settlement_cutoff_at": "-Fallback-scrubbed-YWWJQCTPiMuJCgSwKmpWwKBm", "short_reference_id":
        "-Fallback-scrubbed-BSfRJMkJgkrRYot", "status": "-Fallback-scrubbed-xjbHQyN",
        "updated_at": "-Fallback-scrubbed-oIrkdwIFszAfjrrZWqNyAOaL"}, {"awx_rate":
        -2.2238441283083, "buy_amount": -699086867656.74, "buy_currency": "-Fallback-scrubbed-uSK",
        "client_rate": 917505.53382961, "conversion_date": "-Fallback-scrubbed-CUBFZrNVPA",
        "conversion_id": "-Fallback-scrubbed-bZKjVWoSjcMsMncDDMXUyLiBxnrShAvTPhKh",
        "created_at": "-Fallback-scrubbed-nLbZwjwCrKsTVJuCmyukbIQL", "currency_pair":
        "-Fallback-scrubbed-HeJfsc", "dealt_currency": "-Fallback-scrubbed-c[...]
