interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api-demo.airwallex.com/api/v1/authentication/login
  response:
    body:
      string: '{"expires_at": "2026-08-04T14:23:12+0000", "token": "eyJ***"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-api-version:
      - '2026-06-30'
    method: GET
    uri: https://api-demo.airwallex.com/api/v1/spend/bills?from_created_at=2026-01-01T00%3A00%3A00.000000Z
  response:
    body:
      string: '{"items": [{"approvers": ["-Fallback-scrubbed-ZbfSMKFrtfXybgbqvyNIlH",
        "-Fallback-scrubbed-wvvnKAahUjMzDdKN", "-Fallback-scrubbed-rMoTuDcvueubHLWIyDNZqlA",
        "-Fallback-scrubbed-pGpuUZwpJvOKIaeEFbsf", "-Fallback-scrubbed-YnZgQXVuuXhDedeEtv",
        "-Fallback-scrubbed-klNvUVfCDJIRTFQUJiBXQWxbl", "-Fallback-scrubbed-itiMAqmiCrSyxfzIqCZhTBqCMXnSCQ"],
        "attachments": [], "bill_payments": [], "billing_amount": "-Fallback-scrubbed-XBSELJ",
        "billing_currency": "-Fallback-scrubbed-fhJ", "comments": [], "created_at":
        "-Fallback-scrubbed-pkCeqYkgrWQERzhDXRcE", "description": null, "due_date":
        "-Fallback-scrubbed-udxOgHPEkErdZnQHublk", "external_id": null, "id": "-Fallback-scrubbed-XUhiMGOvAuneaEdlZciwrSVvBGwVInjXiZsR",
        "invoice_number": "-Fallback-scrubbed-tPLNCt", "issued_date": "-Fallback-scrubbed-roGOfiKoTrwnOcYOIqpv",
        "legal_entity_id": "-Fallback-scrubbed-nRwkdLdVHNSabbJgvVXpYLCsn", "line_items":
        [{"accounting_field_selections": [{"external_id": "-Fallback-scrubbed-yiXrEOWIfUcLDRbeHjwfXIqpvGCGolaWDSlr",
        "name": null, "type": "-Fallback-scrubbed-oleHogEyeSeVlgOjdeqoAR", "value":
        "-Fallback-scrubbed-ASfZUpwlUHLxvRu", "value_label": "-Fallback-scrubbed-ASfZUpwlUHLxvRu"}],
        "description": "-Fallback-scrubbed-nctgqZAk", "id": "-Fallback-scrubbed-EAlXxwQLlZSbpXrXsoZzJTsllKXROECjSNCR",
        "purchase_order_line_item_id": null, "quantity": "-Fallback-scrubbed-D", "tax_amount":
        "-Fallback-scrubbed-ZyJu", "total_amount": "-Fallback-scrubbed-XBSELJ", "unit_price":
        "-Fallback-scrubbed-XBSELJ"}], "purchase_order_id": null, "status": "-Fallback-scrubbed-QDKwTxQMsGcvHkoEJ",
        "sync_error_message": null, "sync_status": "-Fallback-scrubbed-MRyVeiGIeJ",
        "tax_status": "-Fallback-scrubbed-AQiUTYZpqzjlc", "updated_at": "-Fallback-scrubbed-HtGevdOLGwPMOfRVKbeB",
        "vendor_id": "-Fallback-scrubbed-AMPscSskpBQZMdquXAvKEwSdMuLlIrGRQdiJ"}, {"approvers":
        ["-Fallback-scrubbed-ZbfSMKFrtfXybgbqvyNIlH", "-Fallback-scrubbed-wvvnKAahUjMzDdKN",
        "-Fallback-scrubbed-rMoTuDcvueubHLWIyDNZqlA", "-Fallback-scrubbed-pGpuUZwpJvOKIaeEFbsf",
        "-Fallback-scrubbed-YnZgQXVuuXhDedeEtv", "-Fallback-scrubbed-klNvUVfCDJIRTFQUJiBXQWxbl",
        "-Fallback-scrubbed-itiMAqmiCrSyxfzIqCZhTBqCMXnSCQ"], "attachments": [{"content_type":
        "-Fallback-scrubbed-HKSpyYKNt", "created_at": "-Fallback-scrubbed-TPwouHLqaUGzULTetByI",
        "file_name": "-Fallback-scrubbed-HtDCBUwuJzxdxeMoqfYCL", "file_url": "-Fallback-scrubbed-EFrYAkysJermcUGvkKlJVwFUOsDUQBMIotirdmunjEklsaWqsQMkWnVFvpCTTZNcoVwfVCWncmbWeYlqAGTrUuKovXdCZpuIzBetcfKoKBZHOcdJYpTGVVUYrgQwsdlhNBUwBwFLICFPMqkacinsFufiOwXkcKaWdqMEkalLldqnMehqIIsCkByXVmdbGUDuMmYzmuVYVgqfEfwHvlWrPvDffKUynidudlBFbYeSXdRNbGQsNsXtpxWETMASTwAMiEUBVcHEybNXwROEpnRJorbNtpVDdIpqyEKdJJbJCRWeMxsmAdsfKKUVvyqrXKckPAaUqkVNtWUZCllFYKUvmNPAmBpWXJwzHVOBIOWsesdYOVzNLrAwBfZRBxYaurUWYOZaRYlcBNcTaFHXigSWJniUrjTJbERFozuhUADmvjKJbxvMydXRPbjckWPYhcDDuwOiQBjHTuMmQuxpDootYKgNwQlytNP[...]
